.services{
    /* border: 1px solid red; */
    overflow: hidden;
}
.services hr{
    border: 1px solid rgb(119, 119, 119);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 50px;
}
.services  h1{
    font-size: 2.5em;
    text-align: center;
    padding: 20px;
    color: #5A5A5A;
}
.services-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.services-card{
    width: 45%;
    border: 1px solid #838383;
    border-radius: 10px;
    box-shadow: 0 0 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.services-card .services-card-img{
    height: 250px;
    width: 80%;
    /* border: 1px solid red; */
    border-radius: 10px;
    /* border: 1px solid #838383; */
    box-shadow: 0 0 2px #838383;
}
.services-card-content{
    /* width: 45%; */
    /* padding: 10px; */
}
.services-card-content h1{
    font-size: 2.2em;
    font-weight: 600;
    text-align: left;
    padding-left: 20px;
    color: #5A5A5A;
}
.services-card-content p{
    padding-left: 20px;
    margin-top: 30px;
    color: #5A5A5A;
}
.services-card-img img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}