.servicescards{
    /* border: 1px solid red; */
    margin-bottom: 30px;
}
.servicescards-row{
    display: flex;
    overflow: hidden;
}
.servicescards-img{
width: 50%;
/* border: 5px solid green; */
display: flex;
justify-content: center;
/* height: 420px; */
margin:20px 0;

}
.servicescards-img img{
    width: 320px;
    height: 320px;
    border: 1px solid #838383;
    border-radius: 50%;
    padding: 20px;
}
.servicescards-content{
    width: 50%;
    /* border: 5px solid blue; */
    padding-top: 20px;
    padding-left: 40px;
    overflow: hidden;
    background-color: rgba(196, 196, 196, 0.28);
}
.servicescards-content h1{
    font-size: 2.5em;
    color: #5A5A5A;
    margin-bottom: 50px;
}
.servicescards-content p{
    color: #5A5A5A;
    font-size: 1.5em;
    margin-bottom: 50px;
}
.servicescards-content button{
    padding: 10px 30px;
    font-size: 1.3em;
    background-color: #00C2FF;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
}

.reverse{
    flex-direction: row-reverse;
}
.reverse .servicescards-content{
    text-align: right;
    padding-top: 20px;
    padding-right: 40px;
}