.whatwedo{
    /* border: 1px solid red; */
    padding: 20px;
}
.whatwedo h1{
    text-align: center;
    padding: 10px;
    color: rgb(97, 97, 97);
}
.whatwedo .whatwedo-card{
    display: flex;
    /* border: 1px solid red; */
    overflow: hidden;
}
.whatwedo-card .whatwedo-content{
    width: 60%;
}
.whatwedo-card .whatwedo-img{
    width: 40%;
}
.whatwedo-card .whatwedo-content{
    padding: 10px;
color: rgb(71, 71, 71);
}
.whatwedo-content p{
    font-size: 1.5em;
    width: 80%;
    line-height: 1.5em;
    border-bottom: 3px solid #3dd0fe;
    padding-bottom: 50px;
    margin-left: 50px;
    margin-top: 50px;
}
.whatwedo-card .whatwedo-img{
    /* border: 1px solid red; */
}
.whatwedo-img img{
    border-radius: 150px;
    width: 90%;
    object-fit: cover;
    height: 80%;
    margin-top: 20px;
    backface-visibility: visible;
}