.whychooseus{
    /* border: 1px solid red; */
    background-color: #4BB0C2;
    color: white;
    padding: 30px;
}
.whychooseus > h1{
    text-align: center;
    padding: 20px 20px 40px 20px;
    margin-bottom: 30px;
    width: 80%;
    border-bottom: 1px solid rgb(226, 225, 225);
    margin-left: auto;
    margin-right: auto;
}
.whychooseus-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.whychooseus-cards .whychooseus-card{
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.whychooseus-card-img{
width: 20%;
}
.whychooseus-card-content{
    width: 80%;
}
.whychooseus-card-content h1{
    margin-bottom: 10px;
    font-size: 1.7em;
}
.whychooseus-card .whychooseus-card-img {
    /* border: 1px solid green; */
    width: 200px;
    /* padding: 10px; */
    text-align: center;
}
.whychooseus-card-img i{
    /* font-size: 5em; */
    font-size: 5em;
    /* color: rgb(148, 147, 147); */
    
}